<launch>
  <arg name="undecay_dis" default="0.33"/>
  <arg name="undecay_angle" default="0.15"/> <!-- rad -->
	<rosparam command="load" file="$(find pointcloud_repub)/config/extrinsic.yaml" />

  <node pkg="pointcloud_repub" type="pointcloud_repub" name="pointcloud_repub" output="screen" >
    <param name="undecay_dis" type="double" value="$(arg undecay_dis)" />
    <param name="undecay_angle" type="double" value="$(arg undecay_angle)" />
  </node>

</launch>
