<launch>
  <!-- Arguments -->
  <arg name="obs_map_file" default="$(find move_base)/maps/cartographer/obs_map.yaml"/>
  <arg name="open_rviz" default="true"/>

  <!-- scan -->
  <include file="$(find ira_laser_tools)/launch/merge_rgbd_lidar_scan.launch"/>

  <!-- urdf -->
  <include file="$(find move_base)/launch/urdf.launch"/>
  <node pkg="move_base" type="odom_tf.py" name="odom_tf" output="screen"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg obs_map_file)"/>

  <!-- AMCL -->
  <!-- <include file="$(find move_base)/launch/amcl.launch"/> -->

  <!-- cartographer -->
  <include file="$(find move_base)/launch/cartographer.launch"/>

  <!-- move_base -->
  <include file="$(find move_base)/launch/move_base.launch"/>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find move_base)/rviz/teb.rviz"/>
  </group>

</launch>


