<launch>

    <include file="$(find nav_bringup)/launch/robot_state_publisher.launch" />
    <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360_c.launch" />

    <include file="$(find pointcloud_repub)/launch/pointcloud_repub.launch" />
    <!-- <include file="$(find Point-LIO)/launch/mapping_mid360.launch" /> -->
    <!-- <include file="$(find FAST_LIO)/launch/mapping_mid360.launch" /> -->
    <include file="$(find faster_lio)/launch/mapping_mid360_slam.launch" />

</launch>