<launch>

    <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 map odom 1" />
    <include file="$(find nav_bringup)/launch/robot_state_publisher.launch" />
    <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360_c.launch" />

    <include file="$(find pointcloud_repub)/launch/pointcloud_repub.launch" >
        <arg name="undecay_dis" value="1.0"/>
        <arg name="undecay_angle" value="0.2"/> <!-- rad -->
    </include>
    <!-- <include file="$(find Point-LIO)/launch/mapping_mid360.launch" /> -->
    <!-- <include file="$(find FAST_LIO)/launch/mapping_mid360.launch" /> -->
    <include file="$(find faster_lio)/launch/mapping_mid360_slam.launch" >
	    <arg name="rviz" value="true" />
    </include>

    <include file="$(find nav_transporter)/launch/transporter.launch" >
        <arg name="use_pose_goal" value="false"/>
        <arg name="track_target" value="true"/>
        <arg name="use_map" value="false"/>
        <arg name="is_test" value="false"/>
        <arg name="map_path" value="$(find far_planner)/data/3floor.vgh"/>
    </include>

    <include file="$(find far_planner)/launch/far_planner.launch" />
    <include file="$(find terrain_analysis)/launch/terrain_analysis.launch" />
    <include file="$(find terrain_analysis_ext)/launch/terrain_analysis_ext.launch" />
    
    <node type="rviz" name="far_rviz" pkg="rviz" args="-d $(find far_planner)/rviz/matterport.rviz" respawn="false"/>

</launch>