<?xml version="1.0"?>
<launch>

  <!-- 启动地图 -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(find global_planner)/maps/map_wmj.yaml"/>

  <!--启动A*全局规划器-->
  <node pkg="global_planner" type="planner" respawn="true" name="global_planner" output="screen">
    <rosparam file="$(find global_planner)/params/A_star_planner.yaml" command="load"/>
  </node>

</launch>